html,
body,
#map-id {
  height: 80%;
  width: 80%;
  padding: 0;
  margin: 0;
}

#hairmetal {
  border-radius: 8px;
}

.chart::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}

#divmap {
  height: 400px;
  width: 500px;
}

#jumbotext{
  background-color: rgba(37, 87, 223, 0.74);
 
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#div20
{
-webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
transform:rotate(90deg); /* Standard syntax */
}

.panel-primary img {
  /*margin-left:60px;
  vertical-align: middle;
  box-align: center;*/
  margin-left:55px;
  vertical-align: middle;
  
  align-items: center;
  
}

/* Giving our navbar some padding and a background color */
.navbar {
  height: 54px;
  padding: 5px;
  background: #979496;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */

.navbar li1 {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 54px;
  padding: 5px;
  
  margin-left: 40px;
  cursor: pointer;
  background: #5191fd;
  border-radius: 3px;
} 

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}
/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 150px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}



/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}